 <div class="container">
  <div class="row">
    <div class="section-title padd-15">
      <h2>About Me</h2>
    </div>
  </div>
  <div class="row">
    <div class="about-content padd-15">
      <div class="row">
        <div class="about-text padd-15">
          <h3>I'm Vishal Kumar <span>Full Stack Developer</span></h3>
          <p>
            Turning your vision into a secure and scalable reality. As a full-stack developer proficient in MERN, Redux, and Next.js, I'm dedicated to delivering high-quality, efficient web applications that exceed expectations.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="personal-info padd-15">
          <div class="row">
            <div class="info-item padd-15">
              <p>BirthDay: <span>2 Aug 2002</span></p>
            </div>
            <div class="info-item padd-15">
              <p>Age: <span>23</span></p>
            </div>
            <div class="info-item padd-15">
              <p>Website : <span>www.domain.com</span></p>
            </div>
            <div class="info-item padd-15">
              <p>Email : <span>vishal369mehta@gmail.com</span></p>
            </div>
            <div class="info-item padd-15">
              <p>
                Degree :
                <span>Computer Science and Engineering (CSE)</span>
              </p>
            </div>
            <div class="info-item padd-15">
              <p>Phone : <span>+91 9148774048</span></p>
            </div>
            <div class="info-item padd-15">
              <p>City : <span>Hazaribagh</span></p>
            </div>
            <div class="info-item padd-15">
              <p>Freelance : <span>Available</span></p>
            </div>
          </div>
          <div class="row">
            <div class="buttons padd-15">
              <a href="#contact" data-section-index="1" class="btn hire-me"
                >Hire Me</a
              >
            </div>
          </div>
        </div>
        <div class="skills padd-15">
          <div class="row">
            <div class="skill-item padd-15">
              <h5>JS</h5>
              <div class="progress">
                <div class="progress-in" style="width: 86%"></div>
                <div class="skill-percent">86%</div>
              </div>
            </div>
            <div class="skill-item padd-15">
              <h5>PHP</h5>
              <div class="progress">
                <div class="progress-in" style="width: 66%"></div>
                <div class="skill-percent">66%</div>
              </div>
            </div>
            <div class="skill-item padd-15">
              <h5>FastApi</h5>
              <div class="progress">
                <div class="progress-in" style="width: 90%"></div>
                <div class="skill-percent">90%</div>
              </div>
            </div>
            <div class="skill-item padd-15">
              <h5>Nextjs</h5>
              <div class="progress">
                <div class="progress-in" style="width: 96%"></div>
                <div class="skill-percent">96%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="education padd-15">
          <h3 class="title">Education</h3>
          <div class="row">
            <div class="timeline-box padd-15">
              <div class="timeline shadow-dark">
                <div class="timeline-item">
                  <div class="circle-dot"></div>
                  <h3 class="timeline-date">
                    <i class="fa fa-calendar"></i>2021 - 2025
                  </h3>
                  <h4 class="timeline-title-ed">
                    Indian Institute Of Information Technolgy, Dharwad
                  </h4>
                  <p class="timeline-text mb "> BTech in Computer Science and Engineering</p>

                  <h4 class="timeline-title">
                    Relevant CourseWork
                  </h4>

                  <div class="course-work">
                      <li>Data Structures </li>
                      <li>Software Engineering </li>
                      <li>Algorithms </li>
                      <li>Database Management </li>
                      <li>OOPs </li>
                      <li>Operating System </li>
                      <li> Computer Networks </li>
                      <li>System Design </li>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="experience padd-15">
          <h3 class="title">Experience</h3>
          <div class="row">
            <div class="timeline-box padd-15">
              <div class="timeline shadow-dark">
                <div class="timeline-item">
                  <div class="circle-dot"></div>
                  <h3 class="timeline-date">
                    <i class="fa fa-calendar"></i>2013 - 2015
                  </h3>
                  <h4 class="timeline-title">
                    BTech in Computer Science and Engineering
                  </h4>
                  <p class="timeline-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Suscipit repellendus pariatur nihil porro recusandae,
                    eveniet corrupti tempora, amet numquam a, sint sit et culpa?
                  </p>
                </div>
                <div class="timeline-item">
                  <div class="circle-dot"></div>
                  <h3 class="timeline-date">
                    <i class="fa fa-calendar"></i>2013 - 2015
                  </h3>
                  <h4 class="timeline-title">
                    BTech in Computer Science and Engineering
                  </h4>
                  <p class="timeline-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Suscipit repellendus pariatur nihil porro recusandae,
                    eveniet corrupti tempora, amet numquam a, sint sit et culpa?
                  </p>
                </div>
                <div class="timeline-item">
                  <div class="circle-dot"></div>
                  <h3 class="timeline-date">
                    <i class="fa fa-calendar"></i>2013 - 2015
                  </h3>
                  <h4 class="timeline-title">
                    BTech in Computer Science and Engineering
                  </h4>
                  <p class="timeline-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Suscipit repellendus pariatur nihil porro recusandae,
                    eveniet corrupti tempora, amet numquam a, sint sit et culpa?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
