<!-- <section class="home section active" id="home"> -->
  <div class="container">
    <div class="row">
      <div class="home-info padd-15">
        <h3 class="hello">
          Hello, my name is <span class="name">Vishal Kumar</span>
        </h3>
        <h3 class="my-profession">
          I' m a <span class="typing">web designer</span>
        </h3>
        <p>
          I'm a web Designer with extensive experience for over 10 years. My
          expertise is to create and website design, graphic design, and many
          more...
        </p>
        <a href="#" class="btn">Download CV</a>
      </div>
      <div class="home-img padd-15">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQksR3Lt2Iy2rlmUKvJmc27GcXpe297gINhTA&s"
          alt="profile picture"
        />
      </div>
    </div>
  </div>
<!-- </section> -->
