<div class="container">
  <div class="row">
    <div class="home-info padd-15">
      <h3 class="hello">
        Hello 👋, my name is <span class="name">Vishal Kumar</span>
      </h3>
      <h3 class="my-profession">
        I' m a <span class="typing">web designer</span>
      </h3>
      <p>
        <!-- I'm a web Designer with extensive experience for over 10 years. My
        expertise is to create and website design, graphic design, and many
        more... -->
        I'm a skilled full-stack web app developer passionate about crafting secure and scalable applications. My expertise lies in the MERN stack and Next.js, and I deliver efficient solutions for complex web applications. Explore my <strong>portfolio</strong> to see how I can bring your ideas to life.
      </p>
      <!-- <a href="#" class="btn" download="Vishal_Kumar_CV.pdf" >Download CV</a> -->
      <a href="https://drive.google.com/file/d/1G9BRscKp_tiP7EOdLUaUcMb9qBM9HK2a/view?usp=sharing" class="btn" target="_blank">Download CV</a>
    </div>
    <div class="home-img padd-15">
      <img
        src="../assets/cover_img.JPG"
        alt="profile picture"
      />
    </div>
  </div>
</div>
