  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>Services</h2>
      </div>
    </div>
    <div class="row service-list">
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-id-card"></i>
          </div>
          <h4> Portfolio Websites </h4> 
          <p>
            Create a personalized, responsive portfolio website that highlights your work and leaves a lasting impression.
          </p>
        </div>
      </div>
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-brain"></i>
          </div>
          <h4>AI Product Landing Page </h4> <!-- or AI Tool Showcase -->
          <p>
            Design and develop clean, interactive websites to demo and promote your AI tools, chatbots, or models.
          </p>
        </div>
      </div>
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-code"></i>
          </div>
          <h4>Web Development</h4>
          <p>Craft. Build. Launch. Pixel-perfect, responsive, and secure web solutions built to scale and perform across all devices.
          </p>
        </div>
      </div>
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-laptop-code"></i>
          </div>
          <h4>MVP Development for Startups</h4>
          <p>
            Launch your idea fast with a lean, functional MVP.
          </p>
        </div>
      </div>
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-plug"></i>
          </div>
          <h4>API Integration</h4>
          <p>
            Connect UI to powerful APIs with seamless user experience.
          </p>
        </div>
      </div>
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-bullhorn"></i>
          </div>
          <h4>Third-Party Integration (Payment, Auth, etc.)</h4>
          <p>
            Stripe, PayPal, Google Auth, Firebase, etc.
          </p>
        </div>
      </div>
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-paint-brush"></i>
          </div>
          <h4> Figma UI/UX  </h4> 
          <p>
            Modern, user-friendly UI designs in Figma for AI dashboards, chat interfaces, or landing pages
          </p>
        </div>
      </div>
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-tools"></i>
          </div>
          <h4>Website Maintenance & Bug Fixing</h4>
          <p>
            Keep your site running smooth and error-free.
          </p>
        </div>
      </div>
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-server"></i>
          </div>
          <h4> Robust Backend Development</h4>
          <p>
            Develop secure, scalable, and high-performance backends with clean APIs and efficient server-side logic.
          </p>
        </div>
      </div>
      <!-- <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-search"></i>
          </div>
          <h4>Legacy Code Modernization</h4>
          <p>
            Upgrade outdated tech stacks to modern frameworks.
          </p>
        </div>
      </div> -->
    </div>
  </div>

